{% extends "base.html" %} {% block content %}
<div
    class="d-flex justify-content-center align-items-center"
    style="min-height: 30vh"
>
    <div class="glass p-4 rounded-4" style="max-width: 400px; width: 100%">
        <h2 class="mb-3 text-center">Reset your password</h2>
        <p class="text-white-50 text-center mb-4">
            Enter your username and we’ll send you instructions if your account
            has an email set.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    class="form-control"
                    required
                />
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'login' %}" class="btn btn-ww">Cancel</a>
                <button class="btn btn-ww" type="submit">
                    Send reset link
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
