{% extends "base.html" %} {% block content %}
<div
    class="d-flex justify-content-center align-items-center text-danger"
    style="min-height: 30vh"
>
    <div class="glass p-4 rounded-4" style="max-width: 400px; width: 100%">
        <h2 class="mb-3 text-center">Check your email</h2>
        <p class="text-white-50 text-center mb-4">
            If an account exists with that email, we’ve sent you a link to reset
            your password.
        </p>
        <div class="text-center mt-4">
            <a href="{% url 'login' %}" class="btn btn-ww w-100"
                >Return to login</a
            >
        </div>
    </div>
</div>
{% endblock %} {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="text-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
