{% extends "base.html" %} {% block content %}
<div
    class="d-flex justify-content-center align-items-center"
    style="min-height: 30vh"
>
    <div class="glass p-4 rounded-4" style="max-width: 400px; width: 100%">
        <h2 class="mb-3 text-center">Reset your password</h2>
        <p class="text-white-50 text-center mb-4">
            Enter your email address and we’ll send you instructions.
        </p>
        <form method="post">
            <!-- prettier-ignore -->
            {% csrf_token %} 
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }} {{ field }} {% if field.errors %}
                <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'login' %}" class="btn btn-ww">Cancel</a>
                <button class="btn btn-ww" type="submit">
                    Send reset link
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
